INSERT INTO {{ table_name }} (Id, Name, Age, Gender, Batch_No) VALUES
(154, 'Ram', 23, 'M','25'),
(187, 'Shaam', 22, 'M', '25'),
(190, 'Shritu', 26, 'F', '26'),
(191, 'Akash', 25, 'M', '26'),
(203, 'Mohan', 25, 'M', '27'),
(210, 'Apoorva', 21, 'F', '27');
