create table if not exists {{ table_name }} (
        Id INT PRIMARY KEY,                    
        Name VARCHAR(100) NOT NULL,
        Age INT,         
        Gender VARCHAR(10),                    
        Batch_No VARCHAR(10) 
    );
